.contenedorImagenes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px 0;
}

@media (max-width: 768px){
  .contenedorImagenes {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
  }
}