.contenedor-svg-inicio > svg {
  width: 4rem;
  height: 4rem;
}

.contenedor-svg-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1150px) {
  .contenedor-svg-inicio {
    padding: 1rem 0;
  }

  .contenedor-card-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contenedor-card-inicio > p, .contenedor-card-inicio > h5 {
    text-align: center;
  }
}
