.flex-plan-estudio {
  display: flex;
  justify-content: center;
  margin: 0 40px;
}

.description {
  margin: 43px;
  position: static;
}

.description-1 {
  display: flex;
  justify-content: center;
  color: #2b0c5a;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border-radius: none;
  padding-top: 20px;
  text-align: center;
}

.tab-content {
  margin: 0 5rem;
  padding-top: 20px;
}

.lista_e_info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mas-info a {
  margin: 0 auto;
  color: #00f;
}

.mas-info a:hover {
  color: #66f;
}

.mas-info {
  background-color: #fff;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border: 5px solid #2b0c5a;
}

.list-group a {
  background-color: #2b0c5a;
  color: #fff;
  align-self: center;
}
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0%;
}

.list-group-item:active, .list-group-item:focus {
  background-color: #2b0c5a;
  color: #fff;
}

.list-group-item.list-group-item {
  border-top-width: 0;
}

.list-group-item.active {
  background-color: #3f0e88;
  border-color: #fff;
  color: #ffffff;
}

.list-group a:hover {
  background-color: #452477;
  color: #ffffff;
}

summary {
  padding-bottom: 10px;
  font-weight: 700;
}

button {
  font-weight: 700;
  width: 70px;
}

.tab-pane {
  display: grid;
  place-items: center;
}

.tab-pane > table {
  border: 1rem solid #b2d8fa;
  text-align: center;
  margin: 0 auto;
}

.mostrar {
  display: block;
}

th,
td {
  padding: 3px 5px;
  text-align: center;
  background-color: #fff;
  border: 5px solid #b2d8fa;
  color: #2b0c5a;
}

td > a {
  color: #00f;
}

td > a:hover {
  color: #66f;
}

#tabla1,
#tabla2,
#tabla3,
#tabla4 {
  text-align: center;
  margin: 0 auto;
}

.accordion-button {
  color: #2b0c5a;
  font-weight: 700;
}

.collapse{
  visibility: visible !important;
}